@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png");
    text-align: center;
    background-size: cover;
    font-family:'Poppins', sans-serif;
    color: white;
}

#logo{
    height: 100px;
    margin-top: 35px;
}

section{
    display: flex;
    justify-content: center;
    margin: 10vh auto;
}

h1{
    font-size: 90px;
    font-weight: 700;
}

.score{
    padding: 30px;
    border-radius: 20px;
    margin: 50px;

}

#team1{
    background-color: #15529A;
    border-radius: 20px;
}

#team2{
    background-color: #489B44;
    

}

.ball{
    border-radius: 50%;
    background-color: white;
    width: 50px;
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin: 5px;
    height: 50px;
}

.balls{
    display: flex;
}

.scoreboard{
    font-size: 3em;
    font-weight: bold;
}

.button{
    width: 100px;
    cursor: pointer;
    margin: 0 30px;
}

.button:active{
    animation:clickbutton 0.3s ease-in-out;

}

@keyframes clickbutton {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);

    }
    100%{
        transform: scale(1);
    }
}

